<template>
    <router-view></router-view>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted Main')
        },
        name:'main-app'
    }
</script>
